@import 'src/_theme';

.icon {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
  width: 1em;
  height: 1em;

  .image {
    width: 100%;
    height: 100%;
  }

  path {
    fill: $color-gray;
  }
}
